<%= render 'components/navbar' %>

<div class="aboutLynnDiv">

<h2>About Lynn</h2>

<p>Lynn would like to maintain mystical and doesn't like too much blabla about herself.
</p>

<p>You can follow her on <%= link_to 'instagram', "https://www.instagram.com/lynnraey_travel/" %>.</p>

</div>

