<div class="mainPhoto" style="background-image:url('https://picsum.photos/1600/900')">
  <div class="leftBtn btnColumn"><i class="fas fa-caret-left"></i></div>
  <div class="rightBtn btnColumn"><i class="fas fa-caret-right"></i></div>
</div>