<%= render 'components/navbar', home: true %>

<div class="mailConfirm">
<h2>Your mail has been sent</h2>
<p> and a copy of this mail has been sent to your mailbox. Lynn will be in touch!</p>
<%= link_to "home", root_path %>
</div>