<%= render 'components/navbar' %>

<div class="orderFramesDiv">
<h2>Order picture frames.</h2>
<p>Select the pictures you like, and then click order to contact Lynn.  One picture frame is 15€.</p>
<div class="lynnphotosContainer">
<% @lynn_photos.each do |lphoto| %>
<div class="photoContainer">
<%= cl_image_tag lphoto.photo, height: 250, crop: :fill %>
<p>foto: <%= lphoto.city_taken %></p>
</div>
<% end %>
</div>
</div>