<div class="footer">
<div class="picInfo">
  <i class="fas fa-map-marker-alt"></i>
  <div class="picInfoText"><%= @lynn_photo.city_taken %> , <%= @lynn_photo.country_taken %></div>
</div>
<div class="copyright">copyright 2019</div>
</div>