<div class="navbar">
  <div class="bgTitle">
    <h1 class="mainTitle">Lynn Raeymaekers photography</h1>
  </div>    
    <div class="links">
      <ul>
        <li>about</li>
        <li>liked some photo's?</li>
        <li>contact</li>
      </ul>
    </div>
</div>