.footer {
  height:8vh;
  font-weight:300;
  display:flex;
  padding:0 10vh;
  width:100%;
  justify-content:space-between;
  box-sizing: border-box;
  padding-top:1em;
  i {
    margin-right:1em;
  }
}

