
h1,h2 {
  font-family: 'Montserrat';
  font-weight:200;
}


body {
  font-family: 'Fira Sans';
  font-weight: 200;
}

p {
  font-size: 15px;

}

.mainPhoto {
  flex: 1 0 auto;
  background-size:cover;
  background-position:center;
  display: flex;
  justify-content: space-between;
  color: white;
  transition: opacity .7s ease-in-out;
  margin-left:20vh;
  margin-right:20vh;
  a i {
    color: white;
  }
}

body {  
  position:relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}


.btnColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vh;
  font-size: 4vh;
}
// TEMPORARY DISABLE ALERT AND NOTICE
.alert, .notice {
  z-index: 1;
  position: absolute;
  margin-left:20vh;
  color:#CCC;
  margin-top:4vh;
}

.lynnphotosContainer {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
    margin-top:4vh;
}

.photoContainer {
  padding: 1vh 0;
}

.orderFramesDiv, .aboutLynnDiv {

  background:linear-gradient(to bottom, #FFF, #CCC 75%);
  padding:2vh 20vh;
}

.aboutLynnDiv {
  padding-bottom:20vh;
  p a {
    color:black;
  }
}