
h1 {
  font-family: 'Montserrat';
  font-weight:200;
}

body {
  font-family: 'Fira Sans';
}

.mainPhoto {
  flex: 1 0 auto;
  background-size:cover;
  background-position:center;
  display: flex;
  justify-content: space-between;
  color: white;
  transition: opacity .7s ease-in-out;
  a i {
    color: white;
  }
}

body {  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}


.btnColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vh;
  font-size: 4vh;
}
// TEMPORARY DISABLE ALERT AND NOTICE
.alert, .notice {
  display:none;
}

