.navbar {
  height: 18vh;
  position:relative;
  margin-right:20vh;
  a {
    z-index:10;
    text-decoration:none;
    color:black;
  }

  .bgTitle {
    // z-index:-1;
    display:flex;
    width:100%;
    height:100%;
    position:relative;
    justify-content:flex-end;
    align-items:center;

    h1 {
      margin-right: 0;
      margin-top: 0;
      font-size: 28px;

    }
  }

  .links {
    z-index: 0;
    position: absolute;
    bottom: 0;
    margin-left: 20vh;
    margin-right:20vh;
    // width: 24%;
    // min-width: 320px;
    font-weight: 100;
    ul {
      padding: 0;
      margin: 0;
      margin-bottom: 2vh;
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: space-between;
      font-weight: 100;
      li {
        font-weight:300;
        margin-right:3em;
        a {
          text-decoration:none;
          color:black;
        }
      }
    }
  }

}
