.mainPhoto {
  // background:#555;
  flex: 1 0 auto;
  background-size:cover;
  background-position:center;
}

body {  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

// TEMPORARY DISABLE ALERT AND NOTICE
.alert, .notice {
  display:none;
}