.navbar {
  height: 23.5vh;
  position:relative;

  .bgTitle {
    z-index:-1;
    display:flex;
    width:100%;
    height:100%;
    position:relative;
    justify-content:flex-end;
    align-items:center;
    h1 {
      margin-right:10vh;
    }
  }

  .links {
    z-index: 0;
    position: absolute;
    bottom: 0;
    margin-left: 10vh;
    width: 24%;
    min-width: 320px;
    font-weight: 100;
    ul {
      padding: 0;
      margin: 0;
      margin-bottom: 1em;
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: space-between;
      font-weight: 100;
      li {
        font-weight:300;
      }
    }
  }
  
}