@media only screen 
  and (max-width: 1024px) 
{   p {
      font-size:13px;
    }

    .mainPhoto {
      margin-left:4vw;
      margin-right:4vw;
    }
    .alert, .notice {
      margin-left:4vw;
    }
    .mailConfirm {
      margin-left:4vw;
      margin-right:4vw;
    }
    .orderFramesDiv, .aboutLynnDiv {
      padding:2vh 4vw;
    }

    //navbar
    .navbar {
      margin-right:4vw;
      height:25vh;
      .links {
        margin-left:4vw;
        margin-right:4vw;
      }
    }

    .footer {
      padding-left:4vw;
      padding-right:4vw;
      height:15vh;
    }

}