@media only screen 
and (max-width: 1024px)

{  

  p {
    font-size:12px;
  }

  .mainPhoto {
    margin-left:4vw;
    margin-right:4vw;
  }
  .alert, .notice {
    margin-left:4vw;
  }
  .mailConfirm {
    margin-left:4vw;
    margin-right:4vw;
  }
  .orderFramesDiv, .aboutLynnDiv {
    padding:2vh 4vw;
  }

  .flex {
    display:block;
    .right {
      margin-top:2em;
      max-width:100%;
    }
  }

    //navbar
    .navbar {
      h1 {
        font-size:18px !important;
        padding-left:5em;
        text-align:right;
      }
      margin-right:4vw;
      height:25vh;
      .links {
       margin: 0;
       padding-left: 4vw;
       font-size:12px;
     }
   }

   .footer {
    padding-left:4vw;
    padding-right:4vw;
    height:15vh;
    font-size:11px;
  }

}